<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div id='wrapper'>
        <h2>Are you sure you want to delete the following course?</h2>
        <p>Name: {{ course.name }}</p>
        <p>Description: {{ course.description }}</p>
        <a id ="no" href="/">No</a>
        <form action="/courses/destroy/{{ course.id }}" method='post'>
        {% csrf_token %}
            <input type="submit" value="Yes, I want to delete this">
        </form>
    </div>
    
</body>
</html>